
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,800&family=Work+Sans:wght@400;500;600&display=swap');
  body{
    
font-family: 'Work Sans', sans-serif;
  }





.nav-container{
    
    min-height: 20px;
    display: flex; 
    
    width: 50%;
}


.header-section{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;   
    
    
}
.color{
    background-color: #FF5400;
}
.items-container{
     width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-container a{
    text-decoration: none;
}
.awesome{
    background-color:#fff;
    justify-content: space-between;
    align-items: center;
}
.banner-section{
    min-height: 500px;
    max-width: 1170px;
    margin: 0 auto;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    object-fit: cover;
}
.text-tittle{
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
     text-align: center;
    font-size: 20px;
    color: #fff;
}
.from-section{
    justify-content: center;
    display: inline-flex;
padding: 16px;
gap: 24px;
}
/* main section */
 .main-section{
   
    max-width: 1170px;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
 }
 .text-content{
    height: 100%;
    width: 50%;
   
    justify-content: space-around;
    gap: 10px;
    font-size: medium;

 }
 .img-content{
   
    width: 50%;
 }
 .font{
    font-size: 25px;
 }
 .main-section img{
       width: 100%;
 }
 .main-section,.text-content{
    grid-template-columns: auto;
    gap 10px
 }

 .multiple{
    max-width: 1170px;
    margin: 0 auto;
    
 }
 .farhan{
    text-align: center;
 }
 .img-content1{
    display: flex;
    width: 50%;
    gap: 10px;
 }
 .img-content12{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    gap: 10px;
    bottom gap: 14px ;
 }
  .img-content2{
    width: 374px;
    height: 286px;
  }
 
 .img-content3{
    width: 474px;
    height: 286px;
 }
 .img-content4{
    width: 274px;
    height: 286px;
 }
 .img-content-end{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
 }
 .img11{
    width: 473px;
    height: 300px;
 }
 .img-10{
    height: 300px;
    width: 673px;
 }
 .title{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
 }
 .align-text{
       max-width: 1170px;
       margin: 0 auto;
       display: flex;
 }
 .price-tag{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
 }
 .hotel{
    width: 573px;
height: 284px;
 }
 .map-location{
    width: 573px;
height: 284px;
 }
  .amazing-vew{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 402px;
    display: flex;
  }
  .amazing-1{
        height: 400px;
        width: 500px;
  }
  .amazing-2{
    width: 510px;
height: 424px;
  }
  .email{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 400px;
    display: flex;
  }
  .login-from{
    border: 2px solid #FF5400;
    width: 498px;
    height: 422px;
    font-size: 25px;
    justify-content: space-between;
    text-align: center;
  }

 .button{
    background-color: #FF5400;
    border-radius: 2px;
    color: #fff;
 }
 .from-img{
    width: 672px;
height: 422px;

 }
 .fotter-section{
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
 }
 
 .travel{
    color: #FF5400;
 }










 /* responsive mobile device */
 @media screen  and (max-width: 676px) {
    .header-section {
        flex-direction: column;
    
    }
    .items-container{
        flex-direction: column;
    }
    .main-section{
        flex-direction: column;
    }
    .nav-container{
        flex-direction: column;
    }
    .from-section{
        flex-direction: column;
    }
    .main-section{
        flex-direction: column;
    }
    .img-content1,  .img-content12, .img-content-end, .align-text,  .amazing-vew,  .email, {
        flex-direction: column;
    }

    .nav-container,.main-section, 
     .items-container, .header-section, .from-section, .main-section, 
      .img-content1,  .img-content12, .img-content-end, .align-text,  .amazing-vew,  .email {
        justify-content: center;
       
        align-items: center;
    }
    
 }


